/*css reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin: 0;padding: 0;}
table {border-collapse: collapse;border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;font-weight: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0;}
a{text-decoration: none;}

/* font-face */
@font-face {
	font-family: 'DenneShuffle';
	src: url('../fonts/denne_shuffle-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/denne_shuffle-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/denne_shuffle-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/denne_shuffle-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/denne_shuffle-webfont.svg#DenneShuffle') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'VAL';
	src: url('../fonts/val-webfont.eot'); /* IE9 Compat Modes */
	src: url('../fonts/val-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fonts/val-webfont.woff') format('woff'), /* Modern Browsers */
	     url('../fonts/val-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fonts/val-webfont.svg#DenneShuffle') format('svg'); /* Legacy iOS */
}
/* common.css */
body {
	width: 100%;
	height: 100%; 
	background-image: -webkit-linear-gradient(left, #4a1717,#962e2e,#4a1717);
	font-family: Arial;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
}
.bg_pic {
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: -750px;
	z-index: -1;
}

.left {
	float: left;
}
.right {
	float: right;
}
/*header*/
.header {
	height: 345px;
}
.header-banner {
	width: 100%;
	height: 160px;
	background-image: url(../img/header-banner.jpg);
	position: relative;
	text-align: center;
}

.logo {
	position: absolute;
	top: -75px;
	left: 10px;
}

.header-title {
	font-family: 'DenneShuffle';
	font-size: 38px;
	color: #fed11f;
	text-transform: uppercase;
	width: 500px;
	margin: 0px auto;
	padding-top: 10px;
	line-height: 35px;
}
.header-buttons {
	position: absolute;
	right: 20px;
	top: 10px;
}
.header-buttons a{
	display: inline-block;
	/*font-family: 'VAL';*/
	color: #ffffff;
	width: 120px;
	line-height: 25px;
	border-radius: 10px;
	background-color: #e71a1a;
	font-size: 15px;
}
.header-buttons a.grey {
	background-color: #B9B9B9;
}

.header-player {
	width: 100%;
	height: 150px;
	background-color: #000000;
	border-radius: 10px;
	margin-top: -20px;
	position: relative;
	z-index: 1;
	background-image: -webkit-linear-gradient(top, #000000,#191919,#000000);
}

.header-player-pic {
	display: inline-block;
	margin: 10px;
}
.header-player-wrap {
	display: inline-block;
	position: relative;
	top: -13px;
}

.header-player-list li a {
	display: block;
	width: 385px;
	line-height: 10px;
	color: #000000;
	background-color: #bebebe;
	margin-bottom: 2px;
	font-size: 14px;
	padding: 10px;
}

.header-player-list li a:hover {
	color: #ff0000;
	background-color: #ececec;
}
.header-player-button {
	display: block;
	width: 390px;
	border: 3px solid #ffffff;
	background-color: #2B2B2B;
	text-align: center;
	padding: 5px;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

.header-nav {
	background-image: url(../img/bg.jpg);
	height: 65px;
	position: relative;
	top: -10px;
}
.header-nav-banner {
	background-color: #1D1D1D;
	width: 980px;
	position: absolute;
	bottom: 0;
	left: 10px;
}
.header-nav-list {
	display: inline-block;
	height: 40px;
}
.header-nav-list li{
	display: inline-block;
	text-align: center;
	height: 20px;
	padding: 2px 6px;
	border-right: 1px solid;
}

.header-nav-list a {
	text-transform: uppercase;
	color: #ffffff;
	font-size: 12px;
}
.header-nav-search {
	display: inline-block;
}

/* page.css */

/*homepage*/
.main .wrap{
	background-image: url(../img/bg.jpg);
	overflow: hidden;
}
.wrap-inner {
	padding: 10px;
	overflow: hidden;
}
.content {
	width: 675px;
}

.main-col {
	width: 450px;
	margin-right: 5px;
}
.hp-content {
	overflow: hidden;
	margin: 30px 0px;
}

.hp-news {
	background-color: #ffffff;
}
.hp-news-items li:last-child {
	border: 0px;
}
.hp-news-item {
	padding: 10px 0px;
	margin: 0px 5px;
	border-bottom: 1px solid #999;
}
.hp-news-title {
	text-transform: uppercase;
	font-family: 'DenneShuffle';
	font-size: 50px;
	padding: 5px;
	margin: 0 5px;
	border-bottom: 1px solid #999;
}
.hp-news-item-pic {
	/*margin: 0px 5px;*/
}
.hp-news-item-des {
	margin: 4px;
	width: 270px;
	display: inline-block;
}

.hp-news-item-categrory {
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.hp-news-item-title {
	font-size: 23px;
	color: black;
	display: block;
	margin-bottom: 5px;
}

.read_more {
	color: #09F;
	font-size: 12px;
	font-weight: bold;
}

.news-ranking {
	font-size: 12px;
	font-weight: bold;
	float: right;
}

.hp-inpictures {
	margin-top: 15px;
	background-color: #ffffff;
	overflow: hidden;
}

.hp-news-category {
	color: #999;
	text-transform: uppercase;
	margin-top: 20px;
	padding-left: 10px; 
	font-size: 14px;
	font-weight: bold;
}

.sub-col {
	width: 210px;
}
.hp-survey {
	background-color: #fffead;
	margin-bottom: 20px;
}
.sub-col-title {
	font-family: 'DenneShuffle';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 30px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}

.survey-des {
	font-size: 14px;
	margin-bottom: 15px;
}

.survey-quest {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}

.survey-option {
	margin-bottom: 10px; 
}
.survey-button {
	width: 51px;
	color: white;
	font-weight: bold;
	background-color: #535353;
	border: 0px;
	height: 21px;
	display: block;
	margin: 20px auto 10px;
}

.hp-events {
	background-color: #fffead;
	margin-bottom: 20px;
}

.events-list-item {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}
.events-des {
	margin: 4px;
	width: 85px;	
	display: inline-block;
	position: relative;
	top: -36px;
}

.event-categrory {
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.event-title {
	font-size: 14px;
	color: black;
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.hp-events li:last-child {
	border: 0px;
}

.small_ad_box {
	width: 300px;
	height: 250px;
	background-color: #000000;
}
.sidebar-rank-list {
	margin: 15px 0;
	background-color: #ffffff;
}

.sidebar-box-title {
	font-family: 'DenneShuffle';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 30px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}

.sidebar-rank {
	margin-bottom: 20px;
}

.sidebar-rank-item {
	padding: 6px 0px;
}

.sidebar-rank-num {
	font-size: 20px;
	font-weight: bold;
}

.sidebar-people-icon {
	vertical-align: bottom;
	margin-left: 10px;
}

.sidebar-people-des {
	display: inline-block;
}

.sidebar-people-job {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: #000000;
}

.sidebar-people-info {
	font-size: 12px;
	display: block;
	color: #000000;
}

.rank-list-button {
	display: block;
	width: 229px;
	line-height: 30px;
	margin: 0 auto 15px;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #1C1C1C;
	text-align: center;
}

.sidebar-item-post {
	margin: 15px 0;
	background-color: #ffffff;
}

.sidebar-post-item {
	width: 230px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: black;
	padding: 10px 5px;
}

.sidebar-posts li:nth-child(2n) {
	background-color: #D3D3D3;
}
.top-deals li.sidebar-rank-item{
	padding-left: 5px; 
}
.top-deals li:nth-child(2n) {
	background-color: #D3D3D3;
}

.facebook_content {
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

.facebook_des {
	display: inline-block;
	position: absolute;
}

.facebook_like_box {
	background-color: #ffffff;
}

.facebook_title {
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 5px;
}
.facebook_like_button {
	display: block;
	width: 43px;
	line-height: 20px;
	background-color: #4D9BD8;
	text-align: center;
	border-radius: 5px;
	color: white;
	margin: 5px;
	font-size: 12px;
}

.facebook_likers {
	border-bottom: 1px solid #999;
}

.facebook_likers_list {
	margin: 5px 0px;
}

.facebook_liker {
	display: inline-block;
	padding: 1px;
}

.facebook_liker_name {
	font-size: 12px;
	color: black;
	text-align: center;
}

.facebook_liker_name h1 {
	font-weight: bold;
}

.facebook_likers p {
	font-size: 12px;
	display: inline-block;
}

.facebook_link {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	display: inline-block;
}

.facebook-cr {
	font-size: 12px;
	color: #999;
}

.big_ad_box {
	width: 730px;
	height: 95px;
	background-color: #35B6D6;
	display: block;
	border: 3px solid #ffffff;
	border-radius: 5px;
	margin: 0 auto 30px;
}

.footer .wrap{
	background-image: -webkit-linear-gradient(top, #000000,#191919,#000000);
}

.footer-banner {
	overflow: hidden;
	position: relative;
}

.footer-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -85px;
}

.footer-slogan {
	display: block;
	width: 300px;
	line-height: 30px;
	font-family: 'DenneShuffle';
	font-size: 37px;
	color: #FED11F;
	text-transform: uppercase;
	text-align: center;
	margin: 25px;
}
.footer-nav {
	display: block;
	padding: 5px 0px 40px 0;
	text-align: center;
}

.footer-nav-item {
	display: inline-block;
}

.footer-sub-nav {
	text-align: center;
	padding-bottom: 30px;
}

.footer-nav-item a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 12px;
	margin: 10px;
}

.footer-sub-nav-item {
	display: inline-block;
	padding: 0px 5px;
	border-right: 1px solid white;
	line-height: 10px;
}

.footer-sub-nav-item a{
	color: #ffffff;
	font-size: 12px;
}

.copyright {
	color: white;
	font-size: 12px;
}

.footer-sub-nav ul li:last-child {
	border: 0px;
}