/* ----------------------------------homepage---------------------------------*/

/*main*/
.main .wrap{
	background-image: url(../img/bg.jpg);
	overflow: hidden;
}
.wrap-inner {
	padding: 10px;
	overflow: hidden;
}
.wrap-inner-no-overflow {
	padding: 10px;
}
.content {
	width: 675px;
}

/* main-col */
.main-col {
	width: 450px;
	margin-right: 5px;
}
.hp-content {
	overflow: hidden;
	margin: 30px 0px;
}
/* hp-news */
.hp-news {
	background-color: #ffffff;
}
.hp-news-items li:last-child {
	border: 0px;
}
.hp-news-item {
	padding: 10px 0px;
	margin: 0px 5px;
	border-bottom: 1px solid #999;
}

.hp-news-item-pic {
	display: inline-block;
}

.hp-news-title {
	text-transform: uppercase;
	font-family: 'DenneShuffle';
	font-size: 50px;
	padding: 5px;
	margin: 0 5px;
	border-bottom: 1px solid #999;
}
.hp-news-item-des {
	margin: 4px;
	width: 270px;
	display: inline-block;
}

.hp-news-item-categrory {
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.hp-news-item-title {
	font-size: 23px;
	color: black;
	display: block;
	margin-bottom: 5px;
}

.read_more {
	color: #09F;
	font-size: 12px;
	font-weight: bold;
}

.news-ranking {
	font-size: 12px;
	font-weight: bold;
	float: right;
}
/* hp-inpictures */
.hp-inpictures {
	margin-top: 15px;
	background-color: #ffffff;
	overflow: hidden;
}

.hp-news-category {
	color: #999;
	text-transform: uppercase;
	margin-top: 20px;
	padding-left: 10px; 
	font-size: 14px;
	font-weight: bold;
}

/* sub-col */
.sub-col {
	width: 210px;
}

/* hp-survey */
.hp-survey {
	background-color: #fffead;
	margin-bottom: 20px;
}
.sub-col-title {
	font-family: 'DenneShuffle';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 30px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}

.hp-calender {
	background-color: #ffffff;
	height: 290px;
	margin-bottom: 10px;
}

.sub-col-title.calender {
	font-size: 50px;
	border: 0;
	margin-bottom: 0px;
	padding: 15px 0 0 10px;
}

.survey-des {
	font-size: 14px;
	margin-bottom: 15px;
}

.survey-quest {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}

.survey-option {
	margin: 0 10px 10px 0;
}
.survey-button {
	width: 51px;
	color: white;
	font-weight: bold;
	background-color: #535353;
	border: 0px;
	height: 21px;
	display: block;
	margin: 20px auto 10px;
}

/* hp-events */
.hp-events {
	background-color: #fffead;
	margin-bottom: 20px;
}

.events-list-item {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}
.events-des {
	margin: 4px;
	width: 85px;	
	display: inline-block;
	position: relative;
	top: -36px;
}

.event-categrory {
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.event-title {
	font-size: 14px;
	color: black;
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.hp-events li:last-child {
	border: 0px;
}

/* -----sidebar----- */

/* samll_ad_box */
.small_ad_box {
	width: 300px;
	height: 250px;
	background-color: #000000;
	margin-bottom: 10px;
}

/* rank-list */
.sidebar-rank-list {
	margin: 15px 0;
	background-color: #ffffff;
}

.sidebar-box-title {
	font-family: 'DenneShuffle';
	font-size: 32px;
	text-transform: uppercase;
	line-height: 30px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
}

.sidebar-rank {
	margin-bottom: 20px;
}

.sidebar-rank-item {
	padding: 6px 0px;
}

.sidebar-rank-num {
	font-size: 20px;
	font-weight: bold;
}

.sidebar-people-icon {
	vertical-align: bottom;
	margin-left: 10px;
}

.sidebar-people-des {
	display: inline-block;
}

.sidebar-people-job {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: #000000;
}

.sidebar-people-info {
	font-size: 12px;
	display: block;
	color: #000000;
}

.rank-list-button {
	display: block;
	width: 229px;
	line-height: 30px;
	margin: 0 auto 15px;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #1C1C1C;
	text-align: center;
}

/* post-list */
.sidebar-item-post {
	margin: 15px 0;
	background-color: #ffffff;
}

.sidebar-post-item {
	width: 230px;
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: black;
	padding: 10px 5px;
}

.sidebar-posts li:nth-child(2n) {
	background-color: #D3D3D3;
}
.top-deals li.sidebar-rank-item{
	padding-left: 5px; 
}
.top-deals li:nth-child(2n) {
	background-color: #D3D3D3;
}

/* facebook-box */
.facebook_content {
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

.facebook_des {
	display: inline-block;
	position: absolute;
}

.facebook_like_box {
	background-color: #ffffff;
}

.facebook_title {
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 5px;
}
.facebook_like_button {
	display: block;
	width: 43px;
	line-height: 20px;
	background-color: #4D9BD8;
	text-align: center;
	border-radius: 5px;
	color: white;
	margin: 5px;
	font-size: 12px;
}

.facebook_likers {
	border-bottom: 1px solid #999;
}

.facebook_likers_list {
	margin: 5px 0px;
}

.facebook_liker {
	display: inline-block;
	padding: 1px;
}

.facebook_liker_name {
	font-size: 12px;
	color: black;
	text-align: center;
}

.facebook_liker_name h1 {
	font-weight: bold;
}

.facebook_likers p {
	font-size: 12px;
	display: inline-block;
}

.facebook_link {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	display: inline-block;
}

.facebook-cr {
	font-size: 12px;
	color: #999;
}

/* big_ad_box */
.big_ad_box {
	width: 730px;
	height: 95px;
	background-color: #35B6D6;
	display: block;
	border: 3px solid #ffffff;
	border-radius: 5px;
	margin: 0 auto 30px;
}

/*------------------------------- shedule.page ------------------------------*/

.page-menu {
	background: -webkit-linear-gradient(left, #202020, rgba(136, 136, 136, 0));
	margin-bottom: 10px;
}

.page-menu-item {
	display: inline-block;
	margin: 0 2px;
}

.page-menu li:first-child a{
	color: #ffffff;
	font-size: 13px;
}

.page-menu-item a{
	font-size: 12px;
	color: #FFEB00;
	padding: 2px;
}

.page-content {
	background-color: #ffffff;
}
.page-nav {
	border-bottom: 1px solid #999;
	margin-bottom: 20px;

}
.page-title {
	font-size: 40px;
	font-family: 'DenneShuffle';
	text-transform: uppercase;
}

.shedule-date {
	margin: 10px 0;
}

.shedule-date ul {

	background-color: #1d1d1d;
}

.shedule-date-item {
	display: inline-block;
	width: 94px;
	text-align: center;
	border-right: 1px solid black;
	margin-right: -5px;
}

.shedule-date ul li:last-child {
	border: 0;
}
.shedule-date-item a {
	display: block;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.shedule-date-item a:hover {
	background-color: #fed11f;
	color: #000000;
}

.shows-duration {
	background-color: #B00005;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 10px;
}

.show-item {
	/*height: 90px;*/
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
}

.show-des {
	display: inline-block;
	line-height: 17px;
}

.show-long {
	font-size: 13px;
	font-weight: bold;
	color: #B00005;
	margin-bottom: 3px;
}

.show-name {
	font-size: 20px;
	margin-bottom: 3px;
	color: #000000;
}

.show-presenter {
	font-size: 12px;
	color: #1B6CB0;
	font-weight: bold;
	margin-bottom: 4px;
}

.show-detail {
	font-size: 12px;
	color: #999;
	width: 450px;
	display: block;
}
.item-nav {
	position: absolute;
	top: 0px;
	left: 555px;
}

.item-nav-button1 {
	display: block;
	width: 90px;
	background-color: #151515;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	float: right;
	margin-bottom: 3px;
}

.item-nav-button2 {
	display: block;
	width: 100px;
	background-color: #1F69B3;
	color: white;
	font-size: 12px;
	text-align: center;
	clear: both;
}

div.show-item:last-child {
	border: 0;
	padding: 0;
}

/*---------------------------------- shows.page -----------------------------------*/
.shows-pages-nav {
	text-align: center;
	margin: 30px;
}

.shows-pages-num {
	display: inline-block;
	width: 20px;
	line-height: 19px;
	border: 1px solid #999;
}

.shows-pages-num a{
	color: #000000;
	display: block;
}

/*---------------------------------- presenter.page -----------------------------------*/
.show-detail.presenter {
	width: 350px;
}

.show-des.presenter {
	position: absolute;
	top: 0px;
	left: 130px;
}
.item-nav.presenter {
	top: 0px;
	left: 0px;
	margin-top: 10px;
	position: relative;
}

.item-nav.presenter .item-nav-button1 {
	display: inline-block;
	width: 90px;
	line-height: 20px;
	background-color: #151515;
	color: white;
	font-size: 12px;
	text-align: center;
	float: none;
	margin-bottom: 3px;
}

.item-nav.presenter .item-nav-button2 {
	display: inline-block;
	width: 100px;
	line-height: 20px;
	background-color: #1F69B3;
	color: white;
	font-size: 12px;
	text-align: center;
	float: none;
}

.presenter-shows {
	width: 180px;
	position: absolute;
	top: 0;
	right: 0px;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}

/*---------------------------------- legal.page -----------------------------------*/
.legal-page-title {
	font-size: 18px;
	font-weight: bold;
}

.legal-page-sub-title {
	font-size: 12px;
	margin: 2px 0;
}

.legal-title {
	display: inline-block;
	text-decoration: underline;
	font-size: 12px;
	color: #000000;
}

.legal-people {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}

.legal-announce {
	font-size: 12px;
	line-height: 20px;
}

/*---------------------------------- shows_details.page -----------------------------------*/
.shows_details_page_nav {
	text-transform: uppercase;
	display: block;
	background: url(../img/shows-details-button-bg1.jpg) no-repeat;
	height: 45px;
	line-height: 33px;
	font-size: 13px;
	font-weight: bold;
	color: black;
	text-align: center;
	width: 325px;
	padding-right: 13px;
	float: left;
}

.page-nav.shows_details {
	overflow: hidden;
}

.page-title.shows_details {
	float: right;
	font-size: 36px;
}
.sd_presenter_box {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.sd_showlong {
	font-size: 16px;
	font-weight: bold;
	color: #B80005;
	margin-bottom: 5px;
}
.sd_presenter {
	width: 300px;
}
.sd_presenter span {
	vertical-align: top;
}
.sd_presenter_name {
	display: block;
	font-size: 20px;
	width: 150px;
	margin: 10px 0;
}
.item-nav-button1.presenter{
	display: block;
	width: 90px;
	background-color: #151515;
	color: white;
	font-size: 12px;
	text-align: center;
	float: none;
	margin-bottom: 3px;
}

.sd_presenter div {
	display: inline-block;
	vertical-align: top;
}
.sd_des {
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin: 10px 0;
}
.sd_last_show {
	display: inline-block;
	width: 315px;
	vertical-align: top;
}

.sd_last_shows {
	margin-bottom: 10px;
}

.sd_last_show_title {
	font-size: 30px;
	font-family: 'DenneShuffle';
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.sd_last_show_box {
	background-color: #E2E2E2;
	height: 90px;
}

.sd_last_show_name {
	font-weight: bold;
	margin-bottom: 5px;
}
.sd_last_show_date {
	font-size: 12px;
	margin-bottom: 10px;
}

.sd_last_show_pre {
	font-size: 12px;
	color: 
}
.sd_last_show_lists {
	margin-bottom: 20px;
}
.sd_last_item_des {
	display: inline-block;
}
.sd_last_item_player {
	display: inline-block;
	height: 40px;
	vertical-align: top;
}

.show_download {
	width: 100px;
	background-color: #2B2B2B;
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	vertical-align: top;
	margin-top: 5px;
	font-size: 12px;
	text-transform: uppercase;
}

.show_discover {
	width: 100px;
	background-color: #1E6CB1;
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 15px;
	vertical-align: top;
	margin-top: 5px;
	font-size: 12px;
}
.sd_last_show_item {
	background-color: #E2E2E2;
	height: 58px;
	margin-bottom: 5px;
}

.sd_last_show_item:hover {
	background-color: #c2c2c2;
}
.player-download {

	float: right;
}

.sd_last_show_loadmore {
	width: 250px;
	line-height: 30px;
	text-align: center;
	display: block;
	margin: 0 auto;
	background-color: #1C6BB0;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
}

#message {
	width: 320px;
	height: 290px;
	outline: 0;
}

/*------------------------------podcast of a show --------------------------*/

.sd_presenter_box.podcast{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	width: 100px;
	padding: 0 5px;
	background-color: #E2E2E2; 
	float: right;
}
.sd_presenter_box.podcast .sd_showlong {
	font-size: 16px;
	margin-bottom: 5px;
	text-align: center;
}
.sd_presenter_box.podcast .sd_presenter {
	width: auto;
}
.sd_presenter_name.podcast {
	display: block;
	font-size: 15px;
	width: 100px;
	text-align: center;
	margin: 0;
}
.sd_presenter_box.podcast .sd_presenter div{
	display: inline-block;
	vertical-align: top;
}
.sd_des.podcast{
	font-size: 12px;
	color: #999;
	line-height: 20px;
	margin: 10px 0;
	width: 500px;
}
.podcast-people-info {
	overflow: hidden;
	margin-bottom: 10px;
}

/*------------------------------------sign_up_form---------------------------------*/
.sign_up_title {
	color: red;
	margin-bottom: 10px;
}

.sign_up_announce {
	font-size: 12px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}

.sign_up_sex {
	font-size: 12px;
	margin-bottom: 10px;
}

.sign_up_form_basic {
	width: 300px;
	margin-right: 5px;
	margin-bottom: 20px;
	display: inline-block;
}

.sign_up_sex_form {
	display: inline-block;
	font-size: 12px;
}

.sex-option {
	margin: 0 5px 0px 20px;
}

.form_item {
	width: 280px;
	height: 20px;
	padding: 5px;
	margin-bottom: 10px;
	outline: 0;
}
.upload_announce {
	font-size: 12px;
	margin-bottom: 5px;
}
.upload_file {
	font-size: 12px;
	color: #999;
	margin-bottom: 15px;
}
.upload_button {
	display: inline-block;
	font-size: 14px;
	color: #7A7A7A;
	width: 150px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #E9E9E9, #B6B6B6);
	border: 1px solid silver;
	text-shadow: 0px 0px 1px #F8F8F8;
	margin-bottom: 20px;
}
.upload_notice {
	display: inline-block;
	font-size: 12px;
}

.sign_up_button {
	display: block;
	width: 80px;
	line-height: 30px;
	background: #2B2B2B;
	font-size: 12px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
}

.sign_up_form_detail{
	margin: 0px;
	vertical-align: top;
	display: inline-block;
}
/*------------------------------------audio-player---------------------------------*/
.w7r-player {
	position: relative;
	width: 250px;
	margin-top: 10px;
}
.w7r-player > div {
	position: absolute;
}
.w7r-player-playpause {
	width: 20px;
	text-indent: -9999px;
	cursor: pointer;
	top: 0;
	left: 0;
	background: url(../img/player-play.jpg) no-repeat; 
}
	.w7r-player:not(.w7r-player-playing) .w7r-player-playpause
    {
      background: url(../img/player-play.png) no-repeat; 
    }

  .w7r-player-playing .w7r-player-playpause
    {
       background: url(../img/player-pause.png) no-repeat; 
    }

.w7r-player-bar {
	width: 160px;
	height: 12px;
	border-radius: 6px;
	top: 3px;
	left: 30px;
	background-color: black; 
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px;
}

.w7r-player-time {
	display: none;
}
		.w7r-player-bar div
    {
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 6px;
    }
	  .w7r-player-bar-loaded
    {
        background-image: -webkit-linear-gradient(top, #3F3F3F, black);
        z-index: 1;
    }
    .w7r-player-bar-played
    {
         background-image: -webkit-linear-gradient(top, #2F2727, #c94617);
        z-index: 2;
    }

.w7r-player-volume
{		
   text-indent: -9999px;
   width: 25px;
   height: 25px;
   top: -2px;
	 left: 200px;
	 cursor: pointer;
}
	.w7r-player-volume-button {
       background: url(../img/player-volume-mute.png) no-repeat;
		height: 25px;
	}
	.w7r-player:not(.w7r-player-mute) .w7r-player-volume-button
    {
		background: url(../img/player-volume.png) no-repeat;
    }	

.w7r-player-volume-adjust
    {
        width: 100%;
        height: 6.25em; /* 100 */
        cursor: default;
        position: absolute;
        left: 0;
        top: -9999px;
    }
        .w7r-player-volume:not(:hover) .w7r-player-volume-adjust
        {
            opacity: 0;
        }
        .w7r-player-volume:hover .w7r-player-volume-adjust
        {
            top: auto;
            bottom: 100%;
        }
        .w7r-player-volume-adjust > div
        {
            width: 40%;
            height: 80%;
            background-color: #555;
            cursor: pointer;
            position: relative;
            z-index: 1;
            margin: 30% auto 0;
            border-radius: 5px;
        }
            .w7r-player-volume-adjust div div
            {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-image: -webkit-linear-gradient(top, #2F2727, #c94617);
                border-radius: 5px;
            }
    .w7r-player-novolume .w7r-player-volume
    {
        display: none;
    }
/*test*/